body{
    background-color: #2B2360;
}

main{
    margin-top: 30px;
    display: flex;
}

.seccao_principal{
    max-width: 90%;
    margin: auto;
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.seccao_principal > div{ 
    width: 200px;
    height: 210px;
    max-height: 250px;
    /*background-image: linear-gradient(white, transparent);*/
    margin: 10px;
    border-radius: 10px;
}

.seccao_principal > div > a > img{ 
    width: 200px;
    height: 138px;
    min-width: 100px;
}

.seccao_principal > div > p{ 
    margin-top: 5px;
    text-align: start;
    color: rgb(255, 255, 255);
    font-size: 14px;
}

h1{
    font-size: 13px;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: #6100FF;

}

.seccao_recomendados{
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.seccao_recomendados > div{
    flex: 0 0 100px;
    width: 250px;
    height: 100px;
    margin: 10px;
    margin-bottom: 30px
}

.seccao_recomendados > div > a > img{
    flex: 0 0 100px;
    width: 140px;
    height: 100px;
    border-radius: 10px;
}